# flyctl launch added from .gitignore
**/.next
**/node_modules
**/out
**/dist
**/.turbo
**/.env*
!**/.env.example
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.DS_Store

# flyctl launch added from node_modules/.pnpm/tailwindcss@3.4.19/node_modules/tailwindcss/stubs/.gitignore
!node_modules/.pnpm/tailwindcss@3.4.19/node_modules/tailwindcss/stubs/**/*
fly.toml
